/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #004643;
}

.container {
    max-width: 1200px;
    margin:  0 auto;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-screen {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main-screen__result,.main-screen__number {
    font-size: 6rem;
    color: #fff;
}
.input > input{
    width: 200px;
    height: 30px;
}

.btn__send {
    margin: 15px 0 0 0 ;
    padding: 10px 20px;
}